<!doctype html>
<html lang="es" class="h-100">

<head>
	<meta name="google-site-verification" content="Fk-AE_H6zMAn-QgljIFsOUq9WGo3u-79GucJcydCmak" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="title" content="Agencia KinderGarten">
	<meta name="description" content="Habbo Agencia KinderGarten tu mejor eleccion">
	<meta name="keywords" content="habbo, radio, agencia, KinderGarten, KinderGartenagencia, agenciKinderGarten, diversi��n, 
 música, juegos" />
	<meta itemprop="image" content="http://kindergartenhb.es/images/logo.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://gucci.mi/">
	<meta property="og:title" content="Agencia KinderGarten">
	<meta property="og:description" content="Habbo agencia KinderGarten tu mejor eleccion">
	<meta property="og:image" content="http://kindergartenhb.es/images/logo.png">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://gucci.mi/">
	<meta property="twitter:title" content="Agencia KinderGarten">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<meta property="twitter:description" content="Habbo agencia KinderGarten tu mejor eleccion">
	<meta property="twitter:image" content="https://gucci.mi/images/logo.png">
	<meta name="theme-color" content="#000000">

	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/siteweb.css">
	<link rel="stylesheet" href="css/glider.min.css">
	<link rel="stylesheet" href="css/hint.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/style.css">
	<title>KinderGarten</title>
	<script type="text/javascript">
		var publicre = '';
	</script>
	<meta name="google-site-verification" content="Fk-AE_H6zMAn-QgljIFsOUq9WGo3u-79GucJcydCmak" />
</head>

<body class="d-flex flex-column h-100">

	<main role="main" class="flex-shrink-0">

		<header class="header bgdark text-center " style="position: relative;">
		
			<div><img src="img/banner.jpg" width="100%">
			</div>


			</div>

		</header>


		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

			<div class="container-fluid">
				<a class="navbar-brand d-block d-sm-none" href="#">KinderGarten</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="./">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="https://radio-kindergarden.webnode.es/">Radio</a></li>
						<!--<li class="nav-item"><a class="nav-link" href="normativa">Normativa</a></li>-->
						<li class="nav-item"><a class="nav-link" href="noticias">Noticias</a>
						<li class="nav-item"><a class="nav-link" href="rangos">Rangos</a>
							<li class="nav-item"><a class="nav-link" href="register">Registro</a></li>
								<li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalogin">Iniciar Sesión</a></li> 
								
				</div>


			</div>
		</nav>

		<div class="container my-4"><div class="row">
           <div class="col-md-6 mb-4">
               <div class="card h-100">
                   <div class="overflow-hidden">
                       <img src="images/banner/semana-4-3.png" class="card-img-top rounded-top" alt="¡Trabajadores Semanales!" style="object-fit: cover; height: 200px;">
                   </div>
                   <div class="card-body">
                       <h5 class="card-title">¡Trabajadores Semanales!</h5>
                       <p class="card-text"><p>Trabajadores Semanales! Esta Semana los ganadores son Parduban en Times, JF-xXPLaGaXx en Ascensos y asaditodefasito...</p>
                       <a href="/noticias?id=7" class="btn btn-primary">Ver más</a>
                   </div>
                   <div class="card-footer d-flex justify-content-between align-items-center">
                       <small class="text-muted"><i class="fas fa-clock mr-1"></i> 12 Mar, 2024</small>
                       <span class="text-muted"><i class="fas fa-user mr-1"></i> Encargado ID: 4</span>
                   </div>
               </div>
           </div>
           <div class="col-md-6 mb-4">
               <div class="card h-100">
                   <div class="overflow-hidden">
                       <img src="images/banner/aOkt2BH.png" class="card-img-top rounded-top" alt="¡Apartado de noticias! - Beta" style="object-fit: cover; height: 200px;">
                   </div>
                   <div class="card-body">
                       <h5 class="card-title">¡Apartado de noticias! - Beta</h5>
                       <p class="card-text"><p><br />&iexcl;Bienvenidos a nuestra nueva secci&oacute;n de noticias en fase beta! Estamos emocionados de...</p>
                       <a href="/noticias?id=5" class="btn btn-primary">Ver más</a>
                   </div>
                   <div class="card-footer d-flex justify-content-between align-items-center">
                       <small class="text-muted"><i class="fas fa-clock mr-1"></i> 11 Mar, 2024</small>
                       <span class="text-muted"><i class="fas fa-user mr-1"></i> Encargado ID: 1</span>
                   </div>
               </div>
           </div></div>   
   
   <style>
    /* Estilos específicos para el glider */
    .contenedor-glider {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none; /* Para navegadores Firefox */
        -ms-overflow-style: none; /* Para navegadores IE/Edge */
    }

    .contenedor-glider::-webkit-scrollbar {
        display: none; /* Para navegadores Chrome, Safari y Opera */
    }

    .tarjeta-glider {
        flex: 0 0 auto;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        width: 200px; /* Ajusta el ancho según tus necesidades */
    }

    .cabecera-tarjeta-glider {
        text-align: center;
        padding: 10px;
        background-color: #f2f2f2;
    }

    .contenedor-rango-glider {
        font-weight: bold;
    }

    .cuerpo-tarjeta-glider {
        text-align: center;
        padding: 10px;
    }

    .imagen-glider {
        max-width: 100%;
        height: auto;
    }

    /* Nuevo estilo para cambiar el cursor */
    #glider-container-wrapper {
        cursor: grab;
    }

    #glider-container-wrapper:active {
        cursor: grabbing;
    }
</style>

<div class="card">
    <div class="card-body borde" id="glider-container-wrapper">
        <h5 class="card-header text-center fw-bold">Horarios De Paga</h5>
        <div class="flecha-izquierda" onmousedown="iniciarDesplazamiento(-430)" onmouseup="detenerDesplazamiento()" style="position: absolute; top: 50%; left: 1px; transform: translateY(-50%); cursor: pointer;">⮜</div>
        <div class="contenedor-glider" id="glider-container">
            
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">España</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="10:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/España.png" alt="España">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Argentina</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="6:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Argentina.png" alt="Argentina">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Chile</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="6:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Chile.png" alt="Chile">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Uruguay</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="6:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Uruguay.png" alt="Uruguay">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Venezuela</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="5:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Venezuela.png" alt="Venezuela">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">R. Dominicana</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="5:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/R. Dominicana.png" alt="R. Dominicana">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Estados Unidos</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="4:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Estados Unidos.png" alt="Estados Unidos">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Colombia</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="4:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Colombia.png" alt="Colombia">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Ecuador</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="4:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Ecuador.png" alt="Ecuador">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Peru</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="4:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Peru.png" alt="Peru">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Guatemala</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="3:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Guatemala.png" alt="Guatemala">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Costa Rica</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="3:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Costa Rica.png" alt="Costa Rica">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Mexico</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="3:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Mexico.png" alt="Mexico">
                                </span>
                            </div>
                        </div>
                        <div class="tarjeta-glider">
                            <div class="cabecera-tarjeta-glider">
                                <div class="contenedor-rango-glider">Paraguay</div>
                            </div>
                            <div class="cuerpo-tarjeta-glider">
                                <span class="hint--right" aria-label="3:00 P.M.">
                                    <img class="imagen-glider" src="images/banderas/Paraguay.png" alt="Paraguay">
                                </span>
                            </div>
                        </div>        </div>
        <div class="flecha-derecha" onmousedown="iniciarDesplazamiento(430)" onmouseup="detenerDesplazamiento()" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;">⮞</div>

        <script>
            var contenedorGlider = document.getElementById('glider-container');
            var wrapper = document.getElementById('glider-container-wrapper');
            var indexActual = 0;
            var isMouseDown = false;

            wrapper.addEventListener('mousedown', function (e) {
                isMouseDown = true;
                startX = e.pageX - wrapper.offsetLeft;
                scrollLeft = contenedorGlider.scrollLeft;
            });

            wrapper.addEventListener('mouseleave', function () {
                isMouseDown = false;
            });

            wrapper.addEventListener('mouseup', function () {
                isMouseDown = false;
            });

            wrapper.addEventListener('mousemove', function (e) {
                if (!isMouseDown) return;
                e.preventDefault();
                const x = e.pageX - wrapper.offsetLeft;
                const walk = (x - startX) * 0.5; // Ajusta el factor según tus preferencias
                contenedorGlider.scrollLeft = scrollLeft - walk;
            });

            function iniciarDesplazamiento(direccion) {
                moverGlider(direccion); // Mover inmediatamente al presionar
                intervalId = setInterval(function () {
                    moverGlider(direccion);
                }, 100); // Ajusta el intervalo según tus preferencias
            }

            function detenerDesplazamiento() {
                clearInterval(intervalId);
            }

            function moverGlider(direccion) {
                indexActual = Math.min(Math.max(indexActual + direccion, 0), contenedorGlider.scrollWidth - contenedorGlider.clientWidth);
                contenedorGlider.scrollTo({ left: indexActual, behavior: 'smooth' });
            }
        </script>
    </div>
</div>

<div class=" row my-3 	">
   <div class=" col-12 col-md-8 ">
      <div class="card  borde ">
         <div class="card-body borde">
            <div class="card-header mb-4">
            <h5 class="fw-bold"> KinderGarten | Administración</h5>
            </div>
            <button class="glider-prev">⮜</i></button>
            <div class="glider">
			   
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">Surnewards</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=Surnewards&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Dueño</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">adrianrodass</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=adrianrodass&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Dueño</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">HabbGos</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=HabbGos&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Dueño</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">7-Le</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=7-Le&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Secretario</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">jose46813</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=jose46813&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Subdirector</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">Andreita17</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=Andreita17&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Secretario</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">Bianco026</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=Bianco026&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Secretario</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">lMafecutie123</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=lMafecutie123&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Jefe de Estudios</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">Dragic.</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=Dragic.&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Secretario</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">Mimina_u.u</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=Mimina_u.u&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Secretario</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">Zaikon.-I</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=Zaikon.-I&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Jefe de Estudios</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">aguitas93</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=aguitas93&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Jefe de Estudios</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">MISS.FAYRI</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=MISS.FAYRI&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Jefe de Estudios</div>
            </div>
        
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
                     
        <div style="style="text-align: center; margin-right: 20px;">	
				<div class="nombre-usuario fw-bold">-Zens.</div>
            <img class="" src="https://www.habbo.es/habbo-imaging/avatarimage?user=-Zens.&action=wav,crr=667&direction=2&head_direction=2&gesture=std&size=m" style="position: relative; margin-top: -5px;  left: 14px; top: -3px;; z-index: 2;">
            <br>
            <img src="img/Podium.png" alt="Nueva Imagen"  style="margin-top: -40px; position: relative; z-index: 1;"></div>
            <div class="rango-container">Dueño</div>
            </div>
                    </div>
            <button class="glider-next">⮞</i></button>
         </div>
 </div>
      <div class="card ">
         <div class="card-body borde">
            <h5 class="card-header fw-bold">Membresias</h5>
            <button class="glider-prev glipre">⮜</i></button>
            <div class="glidi">
               
                        
                             <div class=" bgdark text-center w-100 m-0 h-100">
                                 <div class="card-body">
                                     <img src="./images/badges/PLN.gif" width="60" height="60" class="mb-3" />
                                     <div class="card-title fw-bold">Becado | KND</div>
                                     <div class="card-title">
                                         <span class="fw-bold">55 $ </span>
                                         <small class="text-muted">/mes</small>
                                     </div>
                                     <div class="card-text">(Regla Libre, Fila Vip, Guarda paga y Reducción). Adquierela con un Jefe de Estudios+.
</div>
                                 </div>
                             </div>
                        
                     
                        
                             <div class=" bgdark text-center w-100 m-0 h-100">
                                 <div class="card-body">
                                     <img src="./images/badges/reducion.gif" width="60" height="60" class="mb-3" />
                                     <div class="card-title fw-bold">Dormilones | KND</div>
                                     <div class="card-title">
                                         <span class="fw-bold">40 $ </span>
                                         <small class="text-muted">/mes</small>
                                     </div>
                                     <div class="card-text">Reducción de nomina y bonificación.  Adquierela con un Jefe de Estudios+.</div>
                                 </div>
                             </div>
                        
                     
                        
                             <div class=" bgdark text-center w-100 m-0 h-100">
                                 <div class="card-body">
                                     <img src="./images/badges/RGL.gif" width="60" height="60" class="mb-3" />
                                     <div class="card-title fw-bold">Rebelde | KND</div>
                                     <div class="card-title">
                                         <span class="fw-bold">30 $ </span>
                                         <small class="text-muted">/mes</small>
                                     </div>
                                     <div class="card-text">Chat libre, Regla libre y movimiento.  Adquierela con un Jefe de Estudios+.</div>
                                 </div>
                             </div>
                        
                     
                        
                             <div class=" bgdark text-center w-100 m-0 h-100">
                                 <div class="card-body">
                                     <img src="./images/badges/fila.gif" width="60" height="60" class="mb-3" />
                                     <div class="card-title fw-bold">Fila VIP | KND</div>
                                     <div class="card-title">
                                         <span class="fw-bold">10 $ </span>
                                         <small class="text-muted">/mes</small>
                                     </div>
                                     <div class="card-text">Acceso 5 minutos antes. Costo: 10c. Adquiérela con Jefe De Estudios+.</div>
                                 </div>
                             </div>
                        
                     
                        
                             <div class=" bgdark text-center w-100 m-0 h-100">
                                 <div class="card-body">
                                     <img src="./images/badges/GRPG.gif" width="60" height="60" class="mb-3" />
                                     <div class="card-title fw-bold">Párvulos Tortuga | KND</div>
                                     <div class="card-title">
                                         <span class="fw-bold">10 $ </span>
                                         <small class="text-muted">/mes</small>
                                     </div>
                                     <div class="card-text">Con esta placa tendrás dos dias a partir de la hora de paga, para poder ir a base a reclamar tu paga. Ya sea con Ascenso o con C. Tiene un costo de 10c MENSUALES. Comprala con un Jfe de Estudios+.</div>
                                 </div>
                             </div>
                        
                                 </div>
            <button class="glider-next gline">⮞</i></button>
         </div>
      </div>
   </div>
   <div class="col ">
      <a class="twitter-timeline" data-height="310" data-chrome="noheader, nofooter" href="https://twitter.com/Kindergarten_hb">Tweets</a>
      <iframe class="pt-2" src="https://discord.com/widget?id=1052787106528886825&theme=dark" width="348" height="320" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      <!-- Modal -->
      <div class="modal fade" id="modalogin" tabindex="-1" role="dialog" aria-labelledby="modalogin" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <form class="px-4 py-3 needs-validation" novalidate method="POST" action="/">
                     <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Usuario" required />
                        <label for="floatingInput"><i class="fas fa-user"></i> Usuario</label>
                     </div>
                     <div class="form-floating mb-3">
                        <input type="password" name="clave" class="form-control" id="floatingInput" placeholder="Contraseña" required />
                        <label for="floatingInput"><i class="fas fa-lock"></i> Contraseña</label>
                     </div>
                     <input type="hidden" name="recaptcha_response" class="recaptchaResponse">
                     <div class="d-grid gap-2">
                        <button type="submit" name="loginuser" class="mt-2 btn btn-success btn-block btn-lg">Ingresar</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      </section>
      <!-- /End-Content Section -->
   </div>
</div>
</div>
</div>

</div>
</main>
<footer class="footer bg-dark text-white mt-auto py-3">

	<div class="container small">

		<div class="d-flex justify-content-md-between">
		
		
			<div>© 2023 KinderGarten Derechos reservados a sus respectivos dueños.</div>
			
			    <div>Desarrollado por GhostStore  </div>
			
		</div>

	</div>
</footer>
<!-- Modal -->
<div class="modal fade" id="modalogin" tabindex="-1" aria-labelledby="#modalogin" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="px-4 py-3 needs-validation" novalidate method="POST" action="/">
					<div class="form-floating mb-3">
						<input type="text" name="username" class="form-control" id="floatingInput" placeholder="Usuario" required />
						<label for="floatingInput"><i class="fas fa-user"></i> Usuario</label>
					</div>

					<div class="form-floating mb-3">
						<input type="password" name="clave" class="form-control" id="floatingInput" placeholder="Contraseña" required />
						<label for="floatingInput"><i class="fas fa-lock"></i> Contraseña</label>
					</div>
					<input type="hidden" name="recaptcha_response" class="recaptchaResponse">
					<div class="d-grid gap-2">
						<button type="submit" name="loginuser" class="mt-2 btn btn-success btn-block btn-lg">Ingresar</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>


<link rel="stylesheet" href="css/siteall.css?7.2021">
<script type="text/javascript" src="js/jquery-3.5.1.min.js?7.2021"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js?7.2021"></script>
<script type="text/javascript" src="js/datatables.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>
<script type="text/javascript" src="js/common.js?7.2021"></script>
<script type="text/javascript" src="js/jplayer.js"></script>
<script type="text/javascript" src="js/glider.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/radio.js?7.2021"></script>
<script type="text/javascript" src="js/all.min.js?7.2021"></script>
<script type="text/javascript" src='https://www.google.com/recaptcha/api.js?render='></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
	grecaptcha.ready(function() {
		grecaptcha.execute(publicre, {
				action: 'register'
			})
			.then(function(token) {
				var recaptchaResponse = $(".recaptchaResponse");
				if (recaptchaResponse != null) {
					recaptchaResponse.val(token);
				}
			});
	});
</script>
</body>

</html><script type="text/javascript">
   chatfunt();
   setInterval(chatfunt, 12000);
   
   function chatfunt() {
   	if ($(".chatboxmessage")) {
   		get_messages_chat(".chatboxmessage");
   		$('.chatboxmessage').animate({
   			scrollTop: ($('.chatboxmessage')[0].scrollHeight) + 30000
   		}, "slow");
   	}
   }
   $(".chatform").submit(function(event) {
   	chatfunt();
   	event.preventDefault();
   });
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script src="https://cdn.jsdelivr.net/npm/glider-js@1.8.2/dist/glider.min.js"></script>
<script>
    window.addEventListener('load', function () {
        var glider = new Glider(document.querySelector('.glider'), {
            slidesToShow: 1,
            dots: '.glider-dots',
            draggable: true,
            arrows: {
                prev: '.glider-prev',
                next: '.glider-next'
            }
        });

        // Personaliza la posición de los puntos de navegación
        glider.ele.querySelector('.glider-dots').style.bottom = '10px';
    });
</script>


<Style>
	  .rango-container {
        background-color: black;
        color: white;
        padding: 4px;
        border-radius: 10px;
		text-align: center;
		font-weight: 700; /* Aplica negrita para el nombre del rango */

	    }
		.nombre-usuario {
		text-align: center;
		font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
        font-weight: 300; /* Aplica un peso más ligero para el nombre de usuario */
    }    }
	</style>
	    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
